<h1>List show page</h1>

Summary: <%= @list.summary %><br>
Description: <%= @list.description %><br>
Status: <%= @list.status %><br>
Task List: 
  <% @list.tasks.each do |task| %>
  <ul>
    <li><%= link_to task.summary, task_path(task) %> <%= task.assignee %></li>
  </ul>
  <% end %>
  <br>
<%= link_to "Add a task to this list", new_list_task_path(params[:id]) %>