<h1>Edit Team Details</h1>
<%= render partial: "layouts/errors", locals: {object: @team} %>

<%= form_with(model: @team) do |form| %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :description %>
  <%= form.text_area :description %><br>
  
</div><br>
  <%= form.submit "Edit list" %>
<% end %>