<h1>Create a team</h1>
<% if flash[:error] %>
  <div>
    <%= flash[:error] %>
  </div>
  <% flash.clear %>
<% end %>

<%= form_with(model: @team) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :description %>
  <%= form.text_area :description %><br>

  Add existing users to your team:
  <div>
    <%= form.collection_select(:user_id, User.all, :id, :username, :prompt => true) %>
  </div>
  <br>
  
  <%= form.submit "Create team" %>
<% end %>