<h1>Create a team</h1>
<%= form_with(model: @team) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :description %>
  <%= form.text_area :description %><br>
  
  <%= form.submit "Create team" %>
<% end %>