<h1>New Membership</h1>
<%= render partial: "layouts/errors", locals: {object: @membership} %>


<%= form_with(model: @membership) do |form| %>
<div>
  User <%= form.collection_select(:user_id, User.all, :id, :username, :prompt => true) %>
</div><br>
<div>
  <%= form.label :role %>
  <%= form.text_field :role %><br>
</div><br>
<div>
  Team confirmation <%= form.collection_select(:team_id, Team.all, :id, :name) %>
</div><br>
  
  <%= form.submit "Add user to team" %>
<% end %>