<h1>Stats for <%= @user.username %></h1>
<% if logged_in? %>
  <h2>Your current teams:</h2>
  <ul>
    <% @user.unique_team_membership.each do |team| %>
      <li><%= link_to team.name, team_path(team) %></li>
    <% end %>
  </ul>

  <h2>Make a new team!</h2>
  <%= link_to "Make a new team", new_team_path%><br>
  <h2>Get working!</h2>
  <%= link_to "Make a new list", new_list_path %><br>
  <%= link_to "Make a new task", new_task_path %><br>
  <br>
  <br>
<% end %>