<h1>Sign up</h1>
<%= form_with(model: @user) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><br>

  <%= form.label :email %>
  <%= form.email_field :email %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>
  
  <%= form.submit "Sign up" %>
<% end %>