<!DOCTYPE html>
<html>
  <head>
    <title>Yapa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a id="header-logo" class="navbar-item" href="/home">
          </a>
          <a role="button" class="navbar-burger" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if !logged_in? %>
                <a class="button is-primary" href="/signup">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login">
                  Log in
                </a>
                <% else %>
                <a class="button is-light" href="/logout">
                  Log out
                </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>    
    <% flash.each do |name, message| -%>
      <%= content_tag :div, message, class: name %>
    <% end %>
  <div class="container">
    <br>
    <%= yield %>
  </div>
  </body>
</html>
