<!DOCTYPE html>
<html>
  <head>
    <title>YAPA</title>
    <%= favicon_link_tag asset_path('yapa-logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <br>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a id="header-logo" class="navbar-item" href="/home">
          </a>
          <a role="button" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if !logged_in? %>
                <a class="button is-primary" href="/signup">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login">
                  Log in
                </a>
                <a class="button is-light" href="/auth/google_oauth2">
                  <span class="icon">
                    <i class="fa fa-google"></i>
                  </span>
                  <span>Log in Google</span>
                </a>
                <% else %>
                <%= button_to "Log out", logout_path, method: :delete, class:"button is-light" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>    
    <% flash.each do |name, message| -%>
      <%= content_tag :div, message, class: name %>
    <% end %>
  <div class="section">
    <div class="container">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        YAPA by <a href="https://mkopsho.github.io">Michael Kopsho</a>.
      </p>
    </div>
  </footer>
  </body>
</html>
